schema-agents==0.2.0rc1
hypha-rpc>=0.20.47
hypha>=0.20.47
requests
pypdf
pillow
matplotlib
minio>=7.2.8
tqdm
aiofiles
langchain>=0.2.11
langchain-community==0.2.10
langchain-core==0.2.24
pandas
duckduckgo-search==6.1.5
langchain-openai==0.1.19
rank-bm25==0.2.2
setuptools
python-dotenv==1.0.1
fastapi==0.106.0
asyncpg
greenlet